@import "css/catppuccin-frappe.css";
@import "css/codehilite.css";

/***
body {
    background-color: var(--background-pane);
    font-family: "JetBrains Mono", "Courier New",  monospace;
    color: var(--body);
    margin: auto;
    margin-left: 100px;
    max-width: calc(min(100ch, 95%));

}

h1, h2, h3, h4, h5, h6 { margin: 0px; margin-top: 20px; padding: 0px; }
p { margin: 0px; margin-bottom: 10px; }
li p { margin-left: 0px; }

.koraki { color: cornflowerblue; }
.subtle { color: var(--subtle); }

.{ display: block; }
.footnote-definition sup { display: inline; }
.footnote-definition p { margin-left: 0px; display:inline; }

pre { margin: 0px; }
code { font-size: 14px; background-color: var(--secondary-pane); }
tbody { margin: 0px; }
.codehilite { margin-left: 60px;  overflow-x: auto;}
.codehilitetable { border: 20px; border-style: solid; border-color: var(--tertiary-pane); border-width: 2px; border-radius: 3px; }
.linenos { font-size: 14px; }
.code { margin: 0px; padding-left: 10px; padding-right: 10px; font-size: 14px; background-color: var(--secondary-pane);}
***/

/* Background and full body styling. */
body {
    background-color: var(--background-pane);
    font-family: "JetBrains Mono", "Courier New", monospace;
    max-width: calc(min(100ch, round(down, 80%, 1ch)));
    margin: auto;
    transform: translateX(-3em);
}

/* Indentation and colour for the various heading levels and paragraphs. */
h1    { color: var(--red);    margin-left: 0em; }
h2    { color: var(--green);  margin-left: 1em; }
h3    { color: var(--yellow); margin-left: 2em; }
h4    { color: var(--blue);   margin-left: 3em; }
h5    { color: var(--pink);   margin-left: 4em; }
h6    { color: var(--teal);   margin-left: 5em; }
p, ol { color: var(--body);   margin-left: 6em; }

/* Rule for spacing between headings vs spacing between headings and paragraphs */
/*h1, h2, h3, h4, h5, h6, p { margin-top: 0.25em; margin-bottom: 0.25em } */
p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, p + p, li { margin-top: 1em; }

/* Styling for certain specific elemens, like list items and links. */
a { color: var(--links);  text-decoration: underline; }

/* Styling for footnotes */
.footnote hr { color: var(--tertiary-pane); }
.footnote li p { margin-left: 0em; }
.footnote li::marker { color: var(--body); }


/* A few custom class styles. */
.koraki { color: cornflowerblue; }
.subtle { color: var(--subtle); }

/* Code block changes */
code {
    background-color: var(--tertiary-pane);
    font-size: 0.9rem;
}

.codehilite {
    margin-left: 7em;
    max-width: 80%;
    overflow-x: auto;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0.15em;
    border-color: var(--secondary-pane);
    font-size: 0.9rem;
}



